[Unit]
Description=MeteoMan service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/akos/metoman/meteoman_app

[Install]
WantedBy=multi-user.target